.notFoundBlock {
    text-align: center;
    padding: 80px 0;
}
.notFoundBlock span {
    font-size: 48px;
    display: block;
 
}
.notFoundBlock h2 {
    margin-top: 20px;
    color: rgb(235, 63, 63);
    margin-bottom: 10px;
}
.notFoundBlock p {
    color: lightslategray
}